{% extends 'layout.html' %}

{% block title %}About Us{% endblock title %}

{% block favicon %}<link rel="icon" type="image/x-icon" href="static/img/about.ico">{% endblock favicon %}

{% block main %}
<section class="about">
    <div class="about-content">
        <div class="about-content-item about-card">
            <div class="img-card">
                <img src="static/img/therapy-october.png" class="abt-card">
            </div>
            <br>
            <div class="img-card">
                <img src="static/img/doctor2.png" class="abt-card">
            </div>
            <br>
            <br>
        </div>
        <div class="about-content-item about-text">
            <h2>About Our Centre</h2>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus maiores ab repudiandae voluptate ea velit aliquam. Eligendi voluptatem harum impedit sit exercitationem expedita deleniti, asperiores consequatur nisi dolore sint itaque accusamus est! Sint eius dolorem iste, quod accusantium amet laborum quibusdam et laboriosam maiores. Doloribus eaque amet odit maiores minus similique officia iusto repellat incidunt. Debitis omnis tempora, illum fuga quo quia perferendis distinctio eligendi veniam labore quasi eveniet!</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae magni id tempore! Accusamus ex earum explicabo voluptatum nemo quidem vero eligendi sequi veniam quos alias incidunt nobis corrupti fugiat beatae, dolorum culpa. Quas vero ducimus cum! Consectetur repudiandae porro sequi at reprehenderit qui saepe ut.</p>
            <br>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis tempora eos maxime sunt, dolor, illo ut dolorum inventore iusto expedita possimus neque, repellat aut. Omnis magnam blanditiis a. Possimus, corrupti modi? Itaque corrupti officiis eum? Quos corrupti quis reiciendis! Architecto accusantium quaerat error velit laborum.</p>
            <br>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis animi laborum officiis, soluta ratione illum nobis! Animi error alias facere cupiditate iste sit, sapiente vel quisquam? Nobis dolore, explicabo tempore ducimus fuga velit et officiis ut corporis odio, laudantium molestias illum amet illo aliquid nostrum fugiat facilis necessitatibus autem consequatur officia, earum commodi. Eum, error harum? Facilis voluptates dolorum obcaecati dolores autem deserunt soluta dolorem modi harum vel repellat, consequatur odio illum velit. Assumenda possimus itaque soluta rem sapiente consequuntur ullam officiis vitae veniam, temporibus quae aspernatur. Modi, laudantium possimus nihil nisi unde rerum est, laborum non aspernatur ipsam mollitia earum quas aliquam minima quo tempora soluta at! Dicta, in voluptatibus ipsum nisi reprehenderit, nulla iusto fuga adipisci dolores tempora ratione quibusdam nostrum quia nihil.</p>
        </div>
    </div>
</section>
{% endblock main %}