{% extends 'layout.html' %}

{% block title %}Gallery{% endblock title %}

{% block favicon %}<link rel="icon" type="image/x-icon" href="static/img/about.ico">{% endblock favicon %}

{% block main %}
<section class="gallery">
    <div class="gal-top">
        <h1 class="gal-title">Our Gallery</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quam, totam asperiores distinctio error vel sapiente nesciunt hic eaque, numquam minus eos ex alias quae ut praesentium unde perferendis, eius officia dolorem culpa vitae. Repellendus magnam accusantium doloribus temporibus et vel eveniet nostrum tenetur eligendi.</p>
    </div>
    <div class="img-card">
        <br>
        <img src="static/img/therapy-october.png" class="abt-card">
        <br>
        <img src="static/img/nature1.jpg" class="abt-card">
        <br>
        <img src="static/img/doctor2.png" class="abt-card">
        <br>
    </div>
</section>
{% endblock main %}