{% extends 'layout.html' %}

{% block title %}Albatross Therapy Centre{% endblock title %}

{% block favicon %}<link rel="icon" type="image/x-icon" href="static/img/home.ico">{% endblock favicon %}

{% block main %}
<section class="hero">
    <div class="hero-content">
        <h1>Welcome to Our Site</h1>
        <h3>Register for more information</h3>
        <div class="hero-form">
            <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis obcaecati, praesentium corrupti voluptatum sed laudantium est eius voluptatem corporis quam. Ut asperiores est laborum.</p>
        </div>
    </div>
</section>
{% endblock main %}