<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>More ...</title>
</head>
<body>
    <h1>More Page</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum harum odio veniam dolor nobis hic. Ut saepe corrupti totam in explicabo, libero illo, rerum sed temporibus rem amet autem recusandae ea quas omnis aperiam voluptatem sit beatae expedita unde. Deleniti iusto modi atque numquam, alias ratione iste aspernatur. Voluptatibus eius cum accusamus dolorum enim fuga quisquam, hic sunt quaerat labore doloribus reiciendis earum, maiores minima vitae voluptatum pariatur quasi! Maiores, fuga. Ut officia sunt quaerat. Explicabo fuga ullam facere modi fugit recusandae animi vel cum dignissimos cumque nam libero deleniti voluptatum, aut ad obcaecati esse accusamus harum commodi voluptas non saepe at quod nihil! Velit quidem illo nulla, sapiente doloribus beatae fugit possimus sit libero, eligendi tempora voluptatum, veritatis vero tempore perspiciatis inventore quisquam.</p>

    <a href="{{ url_for('index') }}">Back Home</a>
</body>
</html>